/* universele css (Aleen voor bewerkt pagina) */

a{text-decoration: none; color: white;}

.Updatebod
{
  margin-left: 0%;
  text-align: center;
}

.Confirmbtn
{
  background-color: rgb(144, 255, 144);
  padding: 0.7%;
  border-radius: 15%;
}

.Deletebtn
{
  padding: 0.7%;
  background-color: red;
  border-radius: 15%;
}

.Backbtn
{
  color: rgb(255, 255, 255);
  padding: 1%;
  background-color: grey;
  border-radius: 15%;
  text-decoration: none;
  border: 1px solid;
}


/* computer scherm start hier */
@media screen and (min-width: 1200px) {

.socials1
{
  width: 10vw;
}

.socials2{
  width: 10vw;
  position: absolute;
  margin-left: 77%;
  margin-top: -11.5%
}

  .topnav
  {
    visibility: hidden;
  }
    /* classes om in html te gebruiken  */
.leftalign
{
    text-align: left;
}

.centeralign
{
    text-align: center;
}

.rightalign
{
    text-align: right;
}

.floatL{float: left;}
.floatR{float: right;}
    
/* styling voor de homepage */
#homeimg
{
    outline: 2px; outline-style: solid;
    margin-left: 20vw;
    width: 60vw;
    height: 60vh;
}

.hometext
{
  text-align: left;
  margin-left: 20vw;
}

#context
{
  margin-top: 50%;
}

a{color: rgb(85, 207, 255); text-decoration: none;}

/* styling voor de escape room pagina */
#prison
{
    float: right;
    width: 30vw;
    height: 30vh;
}

#prisonL
{
    float: left;
    width: 30vw;
    height: 30vh;
}


/* styling voor contactpagina */
#contactR
{
  position: absolute; margin-left: 80vw;
}

/* algemene styling */
body 
{
text-decoration: none;
color: white;
font-size: 17px;
background-color:rgb(233, 255, 255);
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: rgb(255, 255, 255);
background-repeat: repeat;
background-size: 300vw;
position: relative;
background-position: center;
height: 95vh;
background-image: url("./Pictures/brain.jpg");
margin-left: 11%;
}

/* styling voor de navbar  */
ul {
outline: 3px;
outline-style: solid;
position: fixed;
top: 0px;
width: 10vw;
height: 100%;
left: 0px;
margin: 0;
padding: 0;
overflow: hidden;
background-color:burlywood;
}
  
  
li a{ display: block;
color: white;
text-align: left;
padding: 20px 20px;
text-decoration: none;
}
  
li a:hover:not(.active) {
background-color: #444;
width: 80%;
height: 100%;
}
  
li a:active{ transform: translateX(-8px);  border-radius: 10%; color: white; } 
  
.active{
background-color: #555;
}
/* styling voor de tabel in scoreboard */
table 
{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
 }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tr:nth-child(odd) {
    background-color: #ffffff;
  }

  #scroll{visibility: hidden;}

}
/* telefoon scherm start hier */
@media screen and (max-width: 600px) {

form
{text-align: center;}

  .socials1
  {
    width: 20vw;
  }

  .socials2
  {
    position: absolute;
    border-radius: 14%;
    width: 20vw;
    margin-top: -24%;
    margin-left: 20%;
  }



  #mytopnav
  {
    width: 100vw;
  }

  #normalnavbar
  {
    visibility: hidden;
    position: fixed;
  }

  

  article
{
  margin: 3%
}

body 
{
text-decoration: none;
color: white;
font-size: 30px;
background-color:rgb(233, 255, 255);
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: rgb(255, 255, 255);
background-repeat: repeat;
background-size: 1340vw;
background-position: center;
background-image: url("./Pictures/brain.jpg");
margin: 0%;
}



  #homeimg
  {
    width: 100vw;
  }


  #contactR
{
  position: absolute; margin-left: 70vw;
}

table {
  margin-left: 5vw;
  font-size: 1.7vw;
  width: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

  
.topnav {
  visibility: visible;
  overflow: hidden;
  background-color: burlywood
}
  
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #555;
  color: white;
}

.topnav .icon {
  display: none;
}


  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }


  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
  
/* ipad screen start here */
@media screen and (min-width: 601px) and (max-width: 1200px)
{

  .socials1
{
  width: 10vw;
}

.socials2{
  width: 10vw;
}

  form
  {
    text-align: center;
  }

  table {
    height: 30%;
    margin-top: 4%;
    margin-left: 0vw;
    font-size: 1.2vw;
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  .topnav{visibility: hidden;}

article
{
  margin: 3%
}

body 
{
text-decoration: none;
color: white;
font-size: 30px;
background-color:rgb(233, 255, 255);
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: rgb(255, 255, 255);
background-repeat: repeat;
background-size: 100vw;
position: relative;
background-position: center;
height: 100vh;
background-image: url("./Pictures/brain.jpg");
}


ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  position: fixed; top: 0%; width: 103vw; left: -1.5%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: burlywood ;
  z-index: 1;
}
  
  li {
    float: left;
  }
  
  li a
  { 
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #444;
  }
  
  li a:active{ transform: translateY(8px);  border-radius: 10%; color: #ffffffb7; } 
  
  .active{
    background-color: #555;
  }

  #homeimg
  {
    width: 100vw;
  }


  #contactR
{
  position: absolute; margin-left: 70vw;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

}